.nav {
  width: 100%;
  display: flex;
  align-items: center;
}

.links {
  display: flex;
  list-style: none;
  margin-left: 20%;
}

.links li {
  margin-right: 20px;
}

.link {
  text-transform: uppercase;
  color: #181E35;
  margin-right: 70px;
  text-decoration: none;
  font-weight:bold;
  font-size: 30px;
}

.link.active,
.link:hover {
  background-color: rgba(255, 255, 255);
}




/* Добавленные стили для выпадающего меню */
.dropdown {
  position: relative;
}

.dropdownContent {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #ffffff;
  min-width: 100px;
  z-index: 1;
}

.dropdownContent a {
  display: block;
  padding: 10px;
  color:#181E35;
  text-decoration: none;
}

.dropdownContent a:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.dropdown:hover .dropdownContent {
  display: block;
}
